@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply h-full;
}

body {
    @apply h-full w-full overflow-x-hidden text-white m-0 p-0 bg-gray-700;
    font-family: Inter, sans-serif;
}

@layer base {
    h1, h2 {
        font-size: revert;
    }

    ul, ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    a {
        text-decoration: revert;
    }
}

html {
    @apply text-sm;
    font-family: Roboto, sans-serif;
}

textarea {
    @apply bg-green-950 text-white border-0;
}


a {
    @apply text-gray-100;
}

/*a:visited {*/
/*    @apply text-gray-400;*/
/*}*/

button {
    /*@apply bg-gray-600 p-5 shadow;*/
    /*@apply border-0 bg-gray-900 text-white p-0.5 border-r-4 appearance-none;*/
    font-family: Roboto, sans-serif;
}

.v2s {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(189,0,0,0) 75%, rgba(255,0,0,0.7) 85%);
}

.v2e {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(189,0,0,0) 75%, rgba(255,0,0,0.7) 85%);
}

@media (orientation: landscape) and (max-device-height: 800px), (orientation: portrait) and (max-device-width: 800px) {
    #postable, #wikiapostable, #share {
        @apply hidden;
    }
    #graph {
        @apply !h-4/5;
    }
}
